.registration {
    border-radius:5px;
}
.registration .special-heading{
    margin-bottom: var(--padding-top);
}
.registration .container{
    padding: var(--padding-top);
    background-color: var(--light);
    border-radius:20px;
}
.registration .container .user-details{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
.registration .container .user-details .input-box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration .container .user-details .details,
form .gender-details .gender-title{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--mian-color);
    font-size: 1.1em;
}
.user-details .input-box input {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: var(--mian-color);
  }
  .genderspan{
      display:flex;
      align-items: center;
      justify-content: center;
      padding:10px 0;
  }
  .gender{
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
  }
 @media(max-width:767px){
     .gender{
        font-size: 14px;

     }
 }
  form .gender-details .category {
    width: 80%;
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
  }
  .gender-details .category label {
    display: flex;
    align-items: center;
  }
  .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: var(--gray);
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three {
    border-color: var(--gray);
    background: var(--yellow);
  }
  form input[type="radio"] {
    display: none;
  }
  form .button {
      width:100%;
    height: 45px;
    /* margin: 45px 0; */
    
  }
  form .button input  {
    height: 100%;
    width: 100%;
    outline: none;
    color: var(--back);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(133deg,  var(--yellow), var(--mian-color));
  }
  form .button input:hover {
    background: linear-gradient(-133deg,  var(--yellow), var(--mian-color));
  }